.searchForm {
	width: 250px;
	display: flex;
	height: 25px;

	.searchIcon {
		margin-right: 10px;
	}

	.searchInput {
		font-size: 16px;
		line-height: 19px;

		&::placeholder {
			color: #718096;

		}
	}
}
